.cuerpo{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 80%;
    flex: 1;
}
.titulo{
    display: flex;
    justify-content: center;
    color:#fcd031;
    margin: 15px;
}
.botones{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 15px;
}
.boton{
    margin: 15px;
}
.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    width: 250px;
    height: 125px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    
    background-size: 100% 100%;
}
.tarjeta .titulo{
    font-size: 1.6rem;
    color: white;
}